#
# HCC RPC Configuration
#

config GRPC
	bool "HCC RPC Protocol"
	depends on GIPC
	---help---
	  Cluster-aware Remote Procedure Call (RPC) framework.

	  This protocol is dedicated to distributed operating system services.
	  User-space application are not supposed to use this protocol.

	  For more informations about KRPC, see http://www.hcc.org

	  Currently, if you are not planning to run HCC, say N.
