*-workspace
.vscode
tags
cscope.*
.config.old
.version
config*
.tmp_*
*.o
*.cmd
*.bak
*.bakup
*.rej
*.orig
*.order
*.mod.c
*.ko
*.d
*.dat
*.dbg
*.a
*.so

Module.symvers
include/asm
include/asm-x86/asm-offsets.h
include/linux/autoconf.h
include/linux/bounds.h
include/linux/compile.h
include/linux/utsrelease.h
include/linux/version.h

scripts/mod/mod-extract

kernel/bounds.s

arch/x86/kernel/asm-offsets.s
arch/x86/lib/inat-tables.c

lib/raid6/mktables
lib/raid6/raid6altivec*.c
lib/raid6/raid6int*.c
lib/raid6/raid6tables.c

System.map
vmlinux*
