#
# GIPC configuration
#

menuconfig GIPC
	tristate "The GIPC Protocol (EXPERIMENTAL)"
	depends on INET && EXPERIMENTAL
	---help---
	  The Transparent Inter Process Communication (GIPC) protocol is
	  specially designed for intra cluster communication. This protocol
	  originates from Ericsson where it has been used in carrier grade
	  cluster applications for many years.
	
	  For more information about GIPC, see http://gipc.sourceforge.net.

	  This protocol support is also available as a module ( = code which
	  can be inserted in and removed from the running kernel whenever you
	  want). The module will be called gipc. If you want to compile it
	  as a module, say M here and read <file:Documentation/kbuild/modules.txt>.

	  If in doubt, say N.

if GIPC

config GIPC_ADVANCED
	bool "GIPC: Advanced configuration"
	depends on GIPC
	default n
	help
	  Saying Y here will open some advanced configuration
          for GIPC. Most users do not need to bother, so if
          unsure, just say N.

config GIPC_ZONES
	int "Maximum number of zones in network"
	depends on GIPC_ADVANCED
	default "3"
	help
	 Max number of zones inside GIPC network. Max supported value 
         is 255 zones, minimum is 1

	 Default is 3 zones in a network; setting this to higher
	 allows more zones but might use more memory.

config GIPC_CLUSTERS
	int "Maximum number of clusters in a zone"
	depends on GIPC_ADVANCED
	default "1"
	help
          ***Only 1 (one cluster in a zone) is supported by current code.
          Any value set here will be overridden.***

          (Max number of clusters inside GIPC zone. Max supported 
          value is 4095 clusters, minimum is 1.

	  Default is 1; setting this to smaller value might save 
          some memory, setting it to higher
	  allows more clusters and might consume more memory.)

config GIPC_NODES
	int "Maximum number of nodes in cluster"
	depends on GIPC_ADVANCED
	default "255"
	help
	  Maximum number of nodes inside a GIPC cluster. Maximum 
          supported value is 2047 nodes, minimum is 8. 

	  Setting this to a smaller value saves some memory, 
	  setting it to higher allows more nodes.

config GIPC_SLAVE_NODES
	int "Maximum number of slave nodes in cluster"
	depends on GIPC_ADVANCED
	default "0"
	help
          ***This capability is not supported by current code.***
	  
	  Maximum number of slave nodes inside a GIPC cluster. Maximum 
          supported value is 2047 nodes, minimum is 0. 

	  Setting this to a smaller value saves some memory, 
	  setting it to higher allows more nodes.

config GIPC_PORTS
	int "Maximum number of ports in a node"
	depends on GIPC_ADVANCED
	default "8191"
	help
	  Maximum number of ports within a node. Maximum 
          supported value is 64535 nodes, minimum is 127. 

	  Setting this to a smaller value saves some memory, 
	  setting it to higher allows more ports.

config GIPC_LOG
	int "Size of log buffer"
	depends on GIPC_ADVANCED
	default 0
	help
 	  Size (in bytes) of GIPC's internal log buffer, which records the
	  occurrence of significant events.  Maximum supported value
	  is 32768 bytes, minimum is 0.

	  There is no need to enable the log buffer unless the node will be
	  managed remotely via GIPC.

config GIPC_DEBUG
	bool "Enable debugging support"
	depends on GIPC
	default n
	help
 	  This will enable debugging of GIPC.

	  Only say Y here if you are having trouble with GIPC.  It will
	  enable the display of detailed information about what is going on.

endif # GIPC
